@inherits LayoutComponentBase
@*
    <div class="sidebar">
    <NavMenu />
    </div> *@

<div class="main">
    <div class="top-row px-4">
        <p>Here's that website you wanted Jared</p>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <BlazorApp.Client.Pages.PartsPerPage />
    </div>
</div>
