@using BlazorApp.Client
@page "/partrow"
<tr>
    <td>
        <input class="form-control" type="text" @bind="ThisIngredient.Name" />
    </td>
    <td>
        <button class="btn btn-xs btn-primary" @onclick="fewerParts" type="button">-</button>
        <p class="text-center">@ThisIngredient.Parts</p>
        <button class="btn btn-xs btn-primary" @onclick="moreParts" type="button">+</button>
    </td>
    <td>
        @OuncesOfIngredient
    </td>
</tr>


@code{
    [Parameter]
    public Ingredient ThisIngredient { get; set; }

    public double percentageOfWhole
    {
        get
        {
            return (double)ThisIngredient.Parts / (double)ThisIngredient.TotalParts;
        }
    }

    public double OuncesOfIngredient
    {
        get
        {
            return Math.Round((float)ThisIngredient.FinalOunces * percentageOfWhole, 3);
        }
    }

    [Parameter]
    public EventCallback<MouseEventArgs> PartsChanged { get; set; }

    private async Task fewerParts(MouseEventArgs e)
    {
        if (ThisIngredient.Parts > 0)
        {
            ThisIngredient.Parts--;
            await PartsChanged.InvokeAsync(e);
        }
    }

    private async Task moreParts(MouseEventArgs e)
    {
        ThisIngredient.Parts++;
        await PartsChanged.InvokeAsync(e);
    }
}